name: Main Build

on:
    workflow_dispatch:
    pull_request:
        branches: [main]
env:
  GPG_PASSPHRASE: ${{secrets.GPG_PASSPHRASE}}
  GPG_PRIVATE_KEY: ${{secrets.GPG_PRIVATE_KEY}}

jobs:
    build-push-wrapping-artefacts:
        name: Building and Deploying Maven artefcats
        runs-on: ubuntu-latest

        steps:
          - name: Checkin Code
            uses: actions/checkout@v4
          
          - name: Set up JDK 11
            uses: actions/setup-java@v4
            with:
              java-version: '11'
              distribution: 'temurin'
              gpg-private-key: ${{secrets.GPG_PRIVATE_KEY}}
              gpg-passphrase: GPG_PASSPHRASE
              cache: maven

          - name: Building artefacts
            env:
              GPG_PASSPHRASE: ${{secrets.GPG_PASSPHRASE}}
              GPG_PRIVATE_KEY: ${{secrets.GPG_PRIVATE_KEY}}
            run: |
             gpg -K
             mvn -X -s /.m2/settings.xml --batch-mode -Dgpg.passphrase=GPG_PASSPHRASE deploy -Dgalasa.source.repo=https://repo.maven.apache.org/maven2/ \
             -Dgalasa.central.repo=https://repo.maven.apache.org/maven2/   \
             -Dgalasa.release.repo=https://maven.pkg.github.com/jaydee029/wrapping        \
             -Dgalasa.jacocoEnabled=true -Dgalasa.isRelease=true
            
    