name: PR build

on:
    workflow_dispatch:
    pull_request:
        branches: [main]

jobs:
    Build-wrapping-artifacts:
        name: Build wrapping arifacts
        runs-on: ubuntu-latest

        steps:
            - name: Checkin Code
              uses: actions/checkout@v4
            
            - name: Set up JDK 11
              uses: actions/setup-java@v4
              with:
                java-version: '11'
                distribution: 'temurin'
                cache: maven
            
            - name: Building artefacts
              run: |
               mvn clean install -Dgpg.skip=true \
               -Dgalasa.source.repo=https://repo.maven.apache.org/maven2/ \
               -Dgalasa.central.repo=https://repo.maven.apache.org/maven2/ \
               -Dgalasa.release.repo=https://maven.pkg.github.com/jaydee029/wrapping


